.page-header-section {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    height: 80px;
    padding-bottom: 3px;
    text-shadow: 2.5px 0 rgba(98, 0, 255, 0.4), -2.5px 0 rgba(255, 0, 0, 0.4);
    font-size: 34px;
}

.page-main-section {
    width: 100%;
    height: 560px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    // padding: 0 10px 10px;
    margin-bottom: 5px;
    // border: 1px solid red;

    .section-header {
        width: 100%;
        background: rgb(15, 17, 18);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 29px;
        position: absolute;
        top: 0;
        left: 0;
        outline: 2px solid rgb(15, 17, 18);
        border-radius: 10px 10px 0 0;
        outline-offset: -1px;
    }

    .arrow-indicator {
        font-size: 100px;
        font-family: monospace;
        margin: 30px;
    }
}

.page-footer-section {
    height: 50px;
    font-size: 20px;
    letter-spacing: 2px;
    background: rgb(15, 17, 18);
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(237, 235, 232);
    cursor: pointer;
}

.shake-animation {
    animation: shake 0.3s;
}
