* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    background-color: rgb(27, 29, 31);
    color: rgb(237, 232, 232);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    user-select: none;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 6px;

    &-track {
        background: #232733;
    }

    &-thumb {
        background: #606060;
        border-radius: 10px;
        padding-bottom: 30px;

        &:hover {
            background: #858585;
        }

        &:vertical {
            margin-bottom: 10px;
        }
    }
}
