::selection {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 8px;

    &-track {
        background: #232733;
    }

    &-thumb {
        background: #606060;
        border-radius: 10px;
        cursor: none;

        &:hover {
            background: #858585;
        }
    }
}
