.default-properties {
    // width: 300vw;
    width: 100%;
    background-color: rgb(27, 29, 31);
    // box-shadow: 0 0 10px 10px rgba(13, 13, 13, 0.732);
}

.custom-scale-calc {
    // position: absolute;
    // right: 50vw;
    // transform: scale(0.5) rotate(90deg) translate(-50%, -53%);
    // width: 140vh;
    // transform-origin: left-top;
    // height: 500px !important;
    transform-origin: center;
    position: relative;
    top: 24vh;
    width: 1000px;
}
