.edit-section {
    width: 400px;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 30px;
    background: #3e404a;
    position: relative;
    direction: rtl;
    border: 1px solid black;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);

    .edit-list-container {
        min-height: 300px;
        height: 100%;

        .edit-list {
            width: 100%;
            height: 100%;
            overflow: auto;
            padding: 5px;
            display: grid;
            grid-template-rows: repeat(auto-fill, minmax(33px, 1fr));
            gap: 5px;
            overflow-x: hidden;

            [class*="member-row"] {
                border: 1px solid $blue-border;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-size: 18px;
                height: 33px;
                background: $blue-background;
                border-radius: 5px;
                padding-right: 10px;
                overflow: hidden;

                .member-info {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 4px;
                    width: calc(100% - 70px);

                    .member-name {
                        white-space: nowrap;
                    }

                    .member-id {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .action-btns {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    .action-btn {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: background-color 0.15s;
                    }

                    [class*="add-to-end"] {
                        height: 33px;
                        width: 33px;
                        background: url("../Assets/end-icon.png") center/23px
                                no-repeat,
                            rgb(119, 119, 55);

                        &:hover {
                            background: url("../Assets/end-icon.png")
                                    center/23px no-repeat,
                                rgb(128, 128, 60);
                        }

                        &:active {
                            background: url("../Assets/end-icon.png")
                                    center/23px no-repeat,
                                rgb(119, 119, 55);
                        }
                    }

                    [class*="delete-member"] {
                        height: 33px;
                        width: 33px;
                        background: url("../Assets/delete-icon.png") center/15px
                                no-repeat,
                            rgb(119, 55, 55);

                        &:hover {
                            background: url("../Assets/delete-icon.png")
                                    center/15px no-repeat,
                                rgb(129, 60, 60);
                        }

                        &:active {
                            background: url("../Assets/delete-icon.png")
                                    center/15px no-repeat,
                                rgb(119, 55, 55);
                        }
                    }

                    .disable-btn {
                        cursor: default;
                        opacity: 0.75;

                        &:hover {
                            background: url("../Assets/end-icon.png")
                                    center/23px no-repeat,
                                rgb(119, 119, 55);
                        }
                    }
                }
            }

            .add-member {
                border: 1px solid rgb(42, 166, 61);
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                background: rgb(48, 121, 36);
                width: 100%;
                font-size: 14px;
                height: 33px;
                border-radius: 5px;
                padding: 0 5px 0 10px;
                overflow: hidden;

                .add-member-inputs {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    gap: 10px;

                    input {
                        background: rgb(0, 68, 0);
                        border: 1px solid rgb(0, 150, 0);
                        outline: none;
                        width: 100%;
                        border-radius: 5px;
                        height: 24px;
                        padding: 3px 5px;
                        color: white;
                        cursor: auto;

                        &::selection {
                            background-color: rgb(70, 187, 64);
                            color: rgb(0, 73, 0);
                        }
                    }
                }

                .add-member-btn {
                    border: 1px solid rgb(0, 60, 0);
                    padding: 3px 8px;
                    border-radius: 5px;
                    background: rgb(0, 92, 0);
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    letter-spacing: 0.8px;
                    margin-right: 10px;
                    transition: background-color 0.15s;
                    color: white;

                    &:hover {
                        background-color: rgb(0, 82, 0);
                    }

                    &:active {
                        background-color: rgb(0, 72, 0);
                    }
                }
            }
        }
    }
}
