.how-to-use-container {
    direction: ltr;
    padding: 2px 4px 7px;

    .how-to-use-title {
        font-size: 18px;
        margin: 4px 0 6px;
    }

    .how-to-use-text {
        line-height: 20px;
        margin-top: 10px;
        font-size: 14px;
    }

    .how-to-use-btn {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius: 6px;
        background-color: $blue-background;
        border: 1px solid $blue-border;
        width: 100%;
        margin-top: 20px;
        font-size: 17px;
        cursor: pointer;
        transition: background-color 0.15s, box-shadow 0.15s, transform 0.15s;
        box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.3);

        &:hover {
            background: rgb(46, 46, 155);
        }

        &:active {
            background: rgb(43, 43, 144);
            box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.3);
            transform: translateY(1px);
        }
    }
}

.header-EE {
    margin: 0 5px 0 5px;
    cursor: default;
    text-decoration: none;
    color: white;
}

.ICARUS {
    cursor: pointer;
    transition: color 0.15s;

    &:hover {
        color: rgb(131, 135, 255);
    }
}
