* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background: rgb(27, 29, 31);
  color: rgb(237, 235, 232);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

textarea::-webkit-scrollbar {
  width: 8px;
}
textarea::-webkit-scrollbar-track {
  background: #232733;
}
textarea::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 10px;
  cursor: none;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #858585;
}

.page-header-section {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
  text-shadow: 2.5px 0 rgba(98, 0, 255, 0.4), -2.5px 0 rgba(255, 0, 0, 0.4);
}

.page-main-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.page-main-section .section-header {
  width: 100%;
  background: rgb(15, 17, 18);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.page-main-section .input-section,
.page-main-section .output-section {
  width: 300px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  height: 80%;
  position: relative;
  padding-top: 30px;
}
.page-main-section .input-section .input-list,
.page-main-section .input-section .output-list,
.page-main-section .output-section .input-list,
.page-main-section .output-section .output-list {
  width: 100%;
  height: 100%;
  background: #3e404a;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 5px;
  resize: none;
  color: white;
  font-family: sans-serif;
  direction: rtl;
}
.page-main-section .input-section .input-list::-moz-selection, .page-main-section .input-section .output-list::-moz-selection, .page-main-section .output-section .input-list::-moz-selection, .page-main-section .output-section .output-list::-moz-selection {
  background-color: #1d16ae;
  color: rgb(59, 255, 255);
}
.page-main-section .input-section .input-list::selection,
.page-main-section .input-section .output-list::selection,
.page-main-section .output-section .input-list::selection,
.page-main-section .output-section .output-list::selection {
  background-color: #1d16ae;
  color: rgb(59, 255, 255);
}
.page-main-section .input-section:hover .input-btn-container,
.page-main-section .output-section:hover .input-btn-container {
  transition: opacity 0.25s;
  opacity: 1;
}
.page-main-section .input-section .input-btn-container,
.page-main-section .output-section .input-btn-container {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(15, 17, 18, 0.8);
  opacity: 0;
  transition: opacity 1s 0.5s;
}
.page-main-section .input-section .input-btn-container .submit-input,
.page-main-section .input-section .input-btn-container .copy-output,
.page-main-section .output-section .input-btn-container .submit-input,
.page-main-section .output-section .input-btn-container .copy-output {
  width: 100px;
  height: 30px;
  border: none;
  background: #222;
  color: white;
  border-radius: 5px;
  border: 2px solid gray;
  border-top: 1px solid gray;
  border-bottom: 3px solid gray;
  cursor: pointer;
  transition: background-color 0.15s, border 0.1s;
  letter-spacing: 0.8px;
}
.page-main-section .input-section .input-btn-container .submit-input:hover,
.page-main-section .input-section .input-btn-container .copy-output:hover,
.page-main-section .output-section .input-btn-container .submit-input:hover,
.page-main-section .output-section .input-btn-container .copy-output:hover {
  background: #1a1a1a;
}
.page-main-section .input-section .input-btn-container .submit-input:active,
.page-main-section .input-section .input-btn-container .copy-output:active,
.page-main-section .output-section .input-btn-container .submit-input:active,
.page-main-section .output-section .input-btn-container .copy-output:active {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}
.page-main-section .edit-section {
  width: 400px;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 30px;
  background: #3e404a;
  position: relative;
  direction: rtl;
}
.page-main-section .edit-section .edit-list-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  padding: 5px;
}
.page-main-section .edit-section .edit-list-container .member-row {
  border: 1px solid rgb(61, 61, 255);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  height: 33px;
  background: rgb(43, 43, 144);
  border-radius: 5px;
  padding-right: 10px;
  overflow: hidden;
}
.page-main-section .edit-section .edit-list-container .member-row .member-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  width: 285px;
}
.page-main-section .edit-section .edit-list-container .member-row .member-info .member-name {
  white-space: nowrap;
}
.page-main-section .edit-section .edit-list-container .member-row .member-info .member-id {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-main-section .edit-section .edit-list-container .member-row .action-btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.page-main-section .edit-section .edit-list-container .member-row .action-btns .action-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.page-main-section .edit-section .edit-list-container .member-row .action-btns .add-to-end {
  border: 1px solid yellow;
  height: 33px;
  width: 33px;
  background-color: rgb(119, 119, 55);
}
.page-main-section .edit-section .edit-list-container .member-row .action-btns .delete-member {
  border: 1px solid rgb(255, 0, 0);
  height: 33px;
  width: 33px;
  background-color: rgb(119, 55, 55);
}
.page-main-section .arrow-indicator {
  font-size: 100px;
  font-family: monospace;
  margin: 30px;
}

.page-footer-section {
  height: 7vh;
  font-size: 20px;
  letter-spacing: 2px;
  background: rgb(15, 17, 18);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(237, 235, 232);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */