* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background: rgb(19, 20, 21);
  color: rgb(237, 235, 232);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #232733;
}
::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 10px;
  cursor: none;
}
::-webkit-scrollbar-thumb:hover {
  background: #858585;
}

.default-properties {
  width: 100%;
  background-color: rgb(27, 29, 31);
  box-shadow: 0 0 10px 10px rgba(13, 13, 13, 0.732);
}

.custom-scale-calc {
  width: 140vh;
  overflow: hidden;
  position: absolute;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
.page-header-section {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
  text-shadow: 2.5px 0 rgba(98, 0, 255, 0.4), -2.5px 0 rgba(255, 0, 0, 0.4);
}

.page-main-section {
  width: 100%;
  height: 83vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.page-main-section .section-header {
  width: 100%;
  background: rgb(15, 17, 18);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
  outline: 2px solid rgb(15, 17, 18);
  border-radius: 10px 10px 0 0;
  outline-offset: -1px;
}
.page-main-section .arrow-indicator {
  font-size: 100px;
  font-family: monospace;
  margin: 30px;
}

.page-footer-section {
  height: 7vh;
  font-size: 20px;
  letter-spacing: 2px;
  background: rgb(15, 17, 18);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(237, 235, 232);
  cursor: pointer;
}

.shake-animation {
  animation: shake 0.3s;
}

.input-section,
.output-section {
  width: 300px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  height: 80%;
  position: relative;
  padding-top: 30px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}
.input-section .input-list,
.input-section .output-list,
.output-section .input-list,
.output-section .output-list {
  width: 100%;
  height: 100%;
  background: #3e404a;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 5px;
  resize: none;
  color: white;
  font-family: sans-serif;
  direction: rtl;
}
.input-section .input-list::-moz-selection, .input-section .output-list::-moz-selection, .output-section .input-list::-moz-selection, .output-section .output-list::-moz-selection {
  background-color: #1d16ae;
  color: rgb(59, 255, 255);
}
.input-section .input-list::selection,
.input-section .output-list::selection,
.output-section .input-list::selection,
.output-section .output-list::selection {
  background-color: #1d16ae;
  color: rgb(59, 255, 255);
}
.input-section:hover .input-btn-container,
.output-section:hover .input-btn-container {
  transition: opacity 0.25s;
  opacity: 1;
}
.input-section .input-btn-container,
.output-section .input-btn-container {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(15, 17, 18, 0.8);
  opacity: 0;
  transition: opacity 1s 0.5s;
}
.input-section .input-btn-container .submit-input,
.input-section .input-btn-container .copy-output,
.output-section .input-btn-container .submit-input,
.output-section .input-btn-container .copy-output {
  width: 100px;
  height: 30px;
  border: none;
  background: #222;
  color: white;
  border-radius: 5px;
  border: 2px solid gray;
  border-top: 1px solid gray;
  border-bottom: 3px solid gray;
  cursor: pointer;
  transition: background-color 0.15s, border 0.1s;
  letter-spacing: 0.8px;
}
.input-section .input-btn-container .submit-input:hover,
.input-section .input-btn-container .copy-output:hover,
.output-section .input-btn-container .submit-input:hover,
.output-section .input-btn-container .copy-output:hover {
  background: #1a1a1a;
}
.input-section .input-btn-container .submit-input:active,
.input-section .input-btn-container .copy-output:active,
.output-section .input-btn-container .submit-input:active,
.output-section .input-btn-container .copy-output:active {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.edit-section {
  width: 400px;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 30px;
  background: #3e404a;
  position: relative;
  direction: rtl;
  border: 1px solid black;
}
.edit-section .edit-list-container {
  min-height: 300px;
  height: 100%;
}
.edit-section .edit-list-container .edit-list {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 5px;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(33px, 1fr));
  gap: 5px;
  overflow-x: hidden;
}
.edit-section .edit-list-container .edit-list [class*=member-row] {
  border: 1px solid rgb(61, 61, 255);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  height: 33px;
  background: rgb(43, 43, 144);
  border-radius: 5px;
  padding-right: 10px;
  overflow: hidden;
}
.edit-section .edit-list-container .edit-list [class*=member-row] .member-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  width: calc(100% - 70px);
}
.edit-section .edit-list-container .edit-list [class*=member-row] .member-info .member-name {
  white-space: nowrap;
}
.edit-section .edit-list-container .edit-list [class*=member-row] .member-info .member-id {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.edit-section .edit-list-container .edit-list [class*=member-row] .action-btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.edit-section .edit-list-container .edit-list [class*=member-row] .action-btns .action-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.15s;
}
.edit-section .edit-list-container .edit-list [class*=member-row] .action-btns [class*=add-to-end] {
  height: 33px;
  width: 33px;
  background: url("../Assets/end-icon.png") center/23px no-repeat, rgb(119, 119, 55);
}
.edit-section .edit-list-container .edit-list [class*=member-row] .action-btns [class*=add-to-end]:hover {
  background: url("../Assets/end-icon.png") center/23px no-repeat, rgb(128, 128, 60);
}
.edit-section .edit-list-container .edit-list [class*=member-row] .action-btns [class*=add-to-end]:active {
  background: url("../Assets/end-icon.png") center/23px no-repeat, rgb(119, 119, 55);
}
.edit-section .edit-list-container .edit-list [class*=member-row] .action-btns [class*=delete-member] {
  height: 33px;
  width: 33px;
  background: url("../Assets/delete-icon.png") center/15px no-repeat, rgb(119, 55, 55);
}
.edit-section .edit-list-container .edit-list [class*=member-row] .action-btns [class*=delete-member]:hover {
  background: url("../Assets/delete-icon.png") center/15px no-repeat, rgb(129, 60, 60);
}
.edit-section .edit-list-container .edit-list [class*=member-row] .action-btns [class*=delete-member]:active {
  background: url("../Assets/delete-icon.png") center/15px no-repeat, rgb(119, 55, 55);
}
.edit-section .edit-list-container .edit-list [class*=member-row] .action-btns .disable-btn {
  cursor: default;
  opacity: 0.75;
}
.edit-section .edit-list-container .edit-list [class*=member-row] .action-btns .disable-btn:hover {
  background: url("../Assets/end-icon.png") center/23px no-repeat, rgb(119, 119, 55);
}
.edit-section .edit-list-container .edit-list .add-member {
  border: 1px solid rgb(42, 166, 61);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgb(48, 121, 36);
  width: 100%;
  font-size: 14px;
  height: 33px;
  border-radius: 5px;
  padding: 0 5px 0 10px;
  overflow: hidden;
}
.edit-section .edit-list-container .edit-list .add-member .add-member-inputs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 10px;
}
.edit-section .edit-list-container .edit-list .add-member .add-member-inputs input {
  background: rgb(0, 68, 0);
  border: 1px solid rgb(0, 150, 0);
  outline: none;
  width: 100%;
  border-radius: 5px;
  height: 24px;
  padding: 3px 5px;
  color: white;
  cursor: auto;
}
.edit-section .edit-list-container .edit-list .add-member .add-member-inputs input::-moz-selection {
  background-color: rgb(70, 187, 64);
  color: rgb(0, 73, 0);
}
.edit-section .edit-list-container .edit-list .add-member .add-member-inputs input::selection {
  background-color: rgb(70, 187, 64);
  color: rgb(0, 73, 0);
}
.edit-section .edit-list-container .edit-list .add-member .add-member-btn {
  border: 1px solid rgb(0, 60, 0);
  padding: 3px 8px;
  border-radius: 5px;
  background: rgb(0, 92, 0);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.8px;
  margin-right: 10px;
  transition: background-color 0.15s;
  color: white;
}
.edit-section .edit-list-container .edit-list .add-member .add-member-btn:hover {
  background-color: rgb(0, 82, 0);
}
.edit-section .edit-list-container .edit-list .add-member .add-member-btn:active {
  background-color: rgb(0, 72, 0);
}

.how-to-use-container {
  direction: ltr;
  padding: 4px;
}
.how-to-use-container .how-to-use-text {
  text-align: justify;
  line-height: 20px;
  margin-top: 10px;
}
.how-to-use-container .how-to-use-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(43, 43, 144);
  border: 1px solid rgb(61, 61, 255);
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.15s, box-shadow 0.15s, transform 0.15s;
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.3);
}
.how-to-use-container .how-to-use-btn:hover {
  background: rgb(46, 46, 155);
}
.how-to-use-container .how-to-use-btn:active {
  background: rgb(43, 43, 144);
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
}

.header-EE {
  margin: 0 5px 0 5px;
  cursor: default;
  text-decoration: none;
  color: white;
}

.ICARUS {
  cursor: pointer;
  transition: color 0.15s;
}
.ICARUS:hover {
  color: rgb(131, 135, 255);
}/*# sourceMappingURL=style.css.map */