* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    background: rgb(27, 29, 31);
    color: rgb(237, 235, 232);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

::selection {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 8px;

    &-track {
        background: #232733;
    }

    &-thumb {
        background: #606060;
        border-radius: 10px;
        cursor: none;

        &:hover {
            background: #858585;
        }
    }
}

.page-header-section {
    // border: 1px solid red;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    height: 10vh;
    text-shadow: 2.5px 0 rgba(98, 0, 255, 0.4), -2.5px 0 rgba(255, 0, 0, 0.4);
}

.page-main-section {
    // border: 1px solid blue;
    width: 100%;
    // height: 100%;
    height: 83vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .section-header {
        width: 100%;
        background: rgb(15, 17, 18);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .input-section,
    .output-section {
        width: 300px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
        overflow: hidden;
        height: 80%;
        position: relative;
        padding-top: 30px;

        .input-list,
        .output-list {
            width: 100%;
            height: 100%;
            background: #3e404a;
            border: none;
            outline: none;
            font-size: 18px;
            padding: 5px;
            resize: none;
            color: white;
            font-family: sans-serif;
            direction: rtl;

            &::selection {
                background-color: #1d16ae;
                color: rgb(59, 255, 255);
            }
        }

        &:hover .input-btn-container {
            transition: opacity 0.25s;
            opacity: 1;
        }

        .input-btn-container {
            width: 100%;
            height: 55px;
            position: absolute;
            bottom: 0;
            // border: 1px solid red;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            background: rgba(15, 17, 18, 0.8);
            // box-shadow: 0 0 3px 3px rgba(15, 17, 18, 0.6);
            opacity: 0;
            transition: opacity 1s 0.5s;

            .submit-input,
            .copy-output {
                width: 100px;
                height: 30px;
                border: none;
                background: #222;
                color: white;
                border-radius: 5px;
                border: 2px solid gray;
                border-top: 1px solid gray;
                border-bottom: 3px solid gray;
                cursor: pointer;
                transition: background-color 0.15s, border 0.1s;
                letter-spacing: 0.8px;

                &:hover {
                    background: #1a1a1a;
                }

                &:active {
                    border-top: 2px solid gray;
                    border-bottom: 2px solid gray;
                }
            }
        }
    }

    .edit-section {
        // border: 1px solid red;
        width: 400px;
        height: 80%;
        border-radius: 10px;
        overflow: hidden;
        padding-top: 30px;
        background: #3e404a;
        position: relative;
        direction: rtl;

        .edit-list-container {
            min-height: 300px;
            height: 100%;

            .edit-list {
                // border: 1px solid red;
                width: 100%;
                height: 100%;
                overflow: auto;
                padding: 5px;
                display: grid;
                grid-template-rows: repeat(auto-fill, minmax(33px, 1fr));
                gap: 5px;

                [class*="member-row"] {
                    // display: ;
                    border: 1px solid rgb(61, 61, 255);
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    font-size: 18px;
                    height: 33px;
                    background: rgb(43, 43, 144);
                    border-radius: 5px;
                    padding-right: 10px;
                    overflow: hidden;

                    .member-info {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 4px;
                        width: calc(100% - 70px);

                        .member-name {
                            white-space: nowrap;
                        }

                        .member-id {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .action-btns {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;

                        .action-btn {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }

                        [class*="add-to-end"] {
                            // border: 1px solid yellow;
                            height: 33px;
                            width: 33px;
                            background: url("../Assets/end-icon.png")
                                    center/23px no-repeat,
                                rgb(119, 119, 55);
                        }

                        [class*="delete-member"] {
                            // border: 1px solid rgb(255, 0, 0);
                            height: 33px;
                            width: 33px;
                            background: url("../Assets/delete-icon.png")
                                    center/15px no-repeat,
                                rgb(119, 55, 55);
                        }
                    }
                }
            }
        }
    }

    .arrow-indicator {
        font-size: 100px;
        font-family: monospace;
        margin: 30px;
    }
}

.page-footer-section {
    height: 7vh;
    font-size: 20px;
    letter-spacing: 2px;
    background: rgb(15, 17, 18);
    width: 100%;
    // border: 1px solid yellow;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(237, 235, 232);
    cursor: pointer;
}
